* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.spill-api {
  color: #fff;
}

/*body, html {
    width: 100%;
    height: 100%;
    background-image: url('arabesque.png');
    background-color: rgb(255, 50, 50);
    margin: 0;
    padding: 0;
}
section {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
}

.circle {
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #000;
    animation-name: bill;
    animation-timing-function: ease-in-out;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    background-repeat: repeat;
    overflow: hidden;
}


.inside {
    background-color: blue;
    width: 1000vw;
    height: 1000vh;
    background-image: url('arabesque.png');
    animation-name: gill;
    animation-timing-function: ease-in-out;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    background-repeat: repeat;
    position: absolute;
    top: -100vw;
    left:-100vh;
   
}

/*
@keyframes gill {
    0% {
        left: -100vw;
    }

    50% {
        left: 0%;
    }

    100% {
        left: -100vw;
    }
}



@keyframes bill {
    0% {
        left: 0;
    }

    50% {
        left: 50%;
    }

    100% {
        left: 0;
    }
}*/
body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*
@keyframes nft {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }

  100% {
    transform: rotateY(25deg) rotateX(25deg);
  }
}

25% {
  transform: rotateY(10deg) rotateX(15deg);
}
50% {
  transform: rotateY(20deg) rotateX(10deg);
}
75% {
  transform: rotateY(10deg) rotateX(15deg);
}*/
/* ----- STUDIO S

.card-inner-studio-silence {
  height: 500px;
  width: 600px;
  background-color: #eeebe6;
  transform-style: preserve-3d;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.square {
  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
  width: 60%;
  height: 60%;
  background-color: rgba(202, 13, 0, 0.5);
  position: absolute;
  transform: rotate(45deg) translateZ(100px);
  animation: sq 20000ms ease infinite;
  border-radius: 0%;
  clip-path: polygon(100% -100%, -100% 100%, 100% 100%);
}

@keyframes sq {
  0% {
    border-radius: 0%;
    background-color: rgba(202, 13, 0, 0.5);
    width: 60%;
    height: 60%;
    transform: rotate(45deg) translateZ(100px);
    clip-path: polygon(100% -100%, -100% 100%, 100% 100%);
    }

  20% {
    border-radius: 50%;
    width: 50%;
    height: 60%;
    background-color: rgba(44, 55, 156, 0.5);
    transform: rotate(0deg) translateZ(100px);
    clip-path: polygon(100% -100%, -100% 100%, 100% 100%);
  }

  40% {
    border-radius: 0%;
    width: 85%;
    height: 25%;
    background-color: rgba(236, 208, 47, 0.5);
    transform: rotate(0deg) translateZ(100px);
    clip-path: polygon(100% -100%, -100% 100%, 100% 100%);
  }

  60% {
    border-radius: 0%;
    width: 60%;
    height: 60%;
    background-color: rgba(248, 0, 248, 0.5);
    transform: rotate(0deg) translateZ(100px);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  80% {
    border-radius: 0%;
    width: 25%;
    height: 85%;
    background-color: rgba(82, 206, 24, 0.5);
    transform: rotate(0deg) translateZ(100px);
    clip-path: polygon(100% -100%, -100% 100%, 100% 100%);
  }

  100% {
    border-radius: 0%;
    background-color: rgba(202, 13, 0, 0.5);
    width: 60%;
    height: 60%;
    transform: rotate(45deg) translateZ(100px);
    clip-path: polygon(100% -100%, -100% 100%, 100% 100%);
  }
}

.studio-title {
  float: left;
  margin-left: 5%;
  width: 60%;
  transform-style: preserve-3d;
  transform: translateZ(25px);
}

.silence-title {
  float: right;
  margin-right: 5%;
  width: 70.11%;
  transform-style: preserve-3d;
  transform: translateZ(25px);
}

/* ----- MAD BATTER 

.card {
  height: 550px;
  width: 650px;
  background-color: transparent;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-inner-mad-bat {
  height: 500px;
  width: 600px;
  background-color: #f7f7f7;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-family: "Shippori Mincho B1", serif;
}

.hero {
  background-image: url("hero-1.jpeg");
  background-position: center left -50px;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  width: 95%;
  height: 70%;
  z-index: -1;
  border: 1px solid #000;
}

.cart {
  height: 100%;
  width: 25%;
  right: 0;
  position: absolute;
  background-color: #fff;
  border-radius: 0 20px 20px 0;
  border-left: 1px solid #000;
  z-index: 2;
  transform-style: preserve-3d;
  transform: translateZ(5px);
}

.cart-item {
  margin: 20px 0px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.65rem;
  transform-style: preserve-3d;
  transform: translateZ(25px);
  padding: 0px 2.5px;
}

.trash {
  background-image: url("delete.svg");
  background-position: center;
  background-size: cover;
  height: 12px;
  width: 12px;
  cursor: pointer;
}

.order-cont {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.order-cont p {
  width: 100%;
  margin-bottom: 0px;
  text-overflow: ellipsis;
}

.order-cont h6 {
  width: 100%;
  margin-top: 0px;
  color: #656566;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header {
  font-family: "Londrina Outline", cursive;
  color: #fff;
  position: absolute;
  right: calc(25% + 10px);
  top: 10%;
  font-size: 2.5rem;
  transform-style: preserve-3d;
  transform: translateZ(50px);
  text-align: right;
}

.nav {
  color: #656566;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 18%;
  right: calc(25% + 10px);
  width: 40%;
  font-size: 10px;
  transform: translateZ(25px);
}

.nav-hr {
  position: absolute;
  bottom: 15.5%;
  right: calc(25% - 10px);
  width: 43%;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #000;
  transform: translateZ(0px);
}

.logo {
  background-image: url("logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 138px;
  width: 150px;
  transform: translateZ(50px);
  transform-style: preserve-3d;
}

.logo-cover {
  height: 160px;
  width: 145px;
  border-radius: 30%;
  position: absolute;
  top: 5px;
  border-radius: 20% 20% 0% 0%;
  background-color: #f7f7f7;
  transform-style: preserve-3d;
  transform: translateZ(2px);
}

.logo-two {
  height: 90px;
  width: 150px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 30% 30% 0% 0%;
  border: 1px solid black;
  border-bottom: none;
  left: 20px;
  bottom: 115px;
  transform: translateZ(1px);
  transform-style: preserve-3d;
}

.logo h5 {
  color: #f7f7f7;
  margin: 50px 1.5px 0px 1.5px;
  font-size: 11px;
  transform: translateZ(10px);
  transform-style: preserve-3d;
  text-shadow: 0px 0px 2px #ba6fb4;
}

.btn {
  background-color: #ba6fb4;
  color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%) translateZ(50px);
  transform-style: preserve-3d;
}

/* ----- HOPPY BARBER -------- 

.card-inner-hoppy {
  height: 500px;
  width: 600px;
  background-color: #f6f9ff;
  background-image: url("mirrored-squares.png");
  transform-style: preserve-3d;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-family: "Raleway", sans-serif;
}

.logo-hoppy {
  width: 55%;
  height: 55%;
  background-image: url("hoppyBarberLogo.png");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: -30px;
  left: -45px;
  transform: translateZ(50px);
}

.nav-hoppy {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 200px;
  transform-style: preserve-3d;
  transform: translateZ(0px);
}

.name-holder-hoppy {
  width: 100%;
  text-align: center;
  height: 50%;
  padding-top: 30px;
  transform: translateZ(50px);
  font-family: "Abril Fatface", cursive;
  text-shadow: 0.025em 0.025em 0em #232325, 0.05em 0.05em 0em #fff,
    0.075em 0.075em 0em #232325, 0.1em 0.1em 0em #fff;
  font-size: 25px;
}

.border-no-3d-hoppy {
  position: absolute;
  background-color: transparent;
  border-bottom: 1px solid #000;
  border-top: none;
  border-right: none;
  border-left: none;
  top: 100px;
  right: 0;
  width: 60%;
  height: 1px;
}

.nav-nav-hoppy {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  transform: translateZ(50px);
}

.nav-nav-hoppy p {
  position: relative;
  transform: translateX(-15px);
}
.p-hoppy-one::after {
  content: url("hoppyBarber/scissors.svg");
  position: absolute;
  right: -38%;
  top: -15px;
  transform: translateZ(100px);
  transform-style: preserve-3d;
}
.p-hoppy-two::after {
  content: url("hoppyBarber/camera.svg");
  position: absolute;
  right: -72%;
  top: -7.5px;
}

.p-hoppy-three::after {
  content: url("hoppyBarber/barber-pole.svg");
  position: absolute;
  right: -72%;
  top: -7.5px;
}

.gallery-hoppy {
  position: absolute;
  width: 100%;
  height: 61.5%;
  bottom: 0;
  border-radius: 0% 0% 20px 20px;
  transform: translateZ(20px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.one-img-hoppy {
  background-image: url("hoppyBarber/4.png");
  background-position: center;
  background-size: cover;
  width: 48%;
  height: 95%;
  border-radius: 5px 5px 5px 20px;
}
.two-img-hoppy {
  background-image: url("hoppyBarber/8.png");
  background-position: center;
  background-size: cover;
  width: 48%;
  height: 95%;
  border-radius: 5px 5px 20px 5px;
}

/*------ WHEELERS -------

.card-inner-wheelers {
  height: 500px;
  width: 600px;
  background-color: #fff;
  transform-style: preserve-3d;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-family: "Yusei Magic", sans-serif;
}

.hero-wheelers {
  background-image: url("wheelers/heroWheelers.png");
  background-position: center;
  background-size: cover;
  width: 90%;
  height: 70%;
  position: absolute;
  top: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  transform-style: preserve-3d;
  transform: translateZ(15px);
}

.header-wheelers-top {
  width: 97.5%;
  height: 60px;
  position: absolute;
  top: calc(70% + 40px);
  background-color: #dcdcdc;
  border: 1px solid #000;
  text-align: center;
  transform-style: preserve-3d;
}

.header-wheelers-top h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transform: translateZ(50px);
  font-size: 40px;
  text-shadow: -1.5px -1px 0px #ef5261;
}

.logo-wheelers {
  background-image: url("wheelers/logo.png");
  background-size: cover;
  background-position: center;
  display: inline-block;
  height: 75px;
  width: 75px;
  margin: -7.5px 10px;
}

.header-wheelers-bottom {
  background-color: #dcdcdc;
  border: 1px solid #000;
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 60%;
  position: absolute;
  top: 59px;
  z-index: 5;
  right: -1px;
  padding-left: 25px;
  transform-style: preserve-3d;
}

.border-cover-wheelers {
  position: absolute;
  width: calc(100% + 1px);
  height: 100%;
  border-right: 1px solid #000;
  background-color: #dcdcdc;
  top: -20px;
  left: 0px;
  transform: translateZ(.5px);
}

.header-wheelers-bottom p {
  margin-left: 5px;
  margin-right: 5px;
  transform-style: preserve-3d;
  transform: translateZ(25px);
}

.p-wheelers-one::before {
  content: url(wheelers/bicycle-solid.svg);
  position: absolute;
  height: 20px;
  width: 20px;
  left: -60%;
  top: 10%;
}
.p-wheelers-two::before {
  content: url(wheelers/tools-solid.svg);
  position: absolute;
  height: 15px;
  width: 15px;
  left: -40%;
  top: 10%;
}
.p-wheelers-three::before {
  content: url(wheelers/mobile-alt-solid.svg);
  position: absolute;
  height: 12px;
  width: 12px;
  left: -25%;
  top: 12%;
}

.coa-wheelers {
  width: 40%;
  height: 40px;
  position: absolute;
  top: calc(70% + 100px);
  left: 2.5%;
  text-align: center;
  transform-style: preserve-3d;
  transform: translateZ(25px);
  display: flex;
  align-items: center;
  justify-content: center;
}
/*background-color: #dcdcdc THIS IS FOR WHEELERS HEADER

text-shadow: -2.5px -1px 0px #ef5261; THIS IS THE RED FOR THIS

 font-family: 'Yusei Magic', sans-serif;
*/

/* ------------- PROFILE PROJECT CARDS --------------- */

.card {
  height: 500px;
  width: 700px;
  background-color: transparent;
  -webkit-transform-style: preserve-3d;
  -moz-transform-stle: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  .card {
    width: 550px;
    height: 350px;
  }
}

@media (min-width: 1400px) {
  .card {
    width: 950px;
    height: 750px;
  }
}

/* -------------DEAD CAT CARD--------------- */

.card-inner-dead-cat {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 650px;
  height: 450px;
  background-color: #2f313b;
  color: #eeefee;
  -webkit-transform-style: preserve-3d;
  -moz-transform-stle: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.card-title-dead-cat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  -o-transform: translateZ(50px);
  transform: translateZ(50px);
  font-family: Helvetica Neue;
}

.logo-dead-cat {
  background-image: url(deadCatLogo.png);
  background-position: center;
  background-size: cover;
  width: 250px;
  height: 225px;
  -webkit-transform: translateZ(75px);
  -moz-transform: translateZ(75px);
  -ms-transform: translateZ(75px);
  -o-transform: translateZ(75px);
  transform: translateZ(75px);
  margin-left: 25px;
}

.title-dead-cat {
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  -o-transform: translateZ(50px);
  transform: translateZ(50px);
  font-size: 3.5rem;
  font-weight: 100;
  text-shadow: none;
}

.p-dead-cat {
  padding-left: 100px;
  font-weight: 100;
}

.header-dead-cat {
  position: absolute;
  width: 100%;
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  -o-transform: translateZ(50px);
  transform: translateZ(50px);
  top: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 100;
}

.hr-dead-cat {
  border-bottom: 2px solid #eeefee;
  width: 100%;
  position: absolute;
  top: 50px;
}

@media (max-width: 800px) {
  .card-inner-dead-cat {
    width: 500px;
    height: 300px;
  }

  .logo-dead-cat {
    width: 190px;
    height: 170px;
    margin-left: 10px;
    margin-top: 25px;
  }

  .title-dead-cat {
    font-size: 3rem;
    margin-right: 25px;
  }

  .p-dead-cat {
    margin-right: 25px;
  }
}

@media (min-width: 1400px) {
  .card-inner-dead-cat {
    width: 900px;
    height: 700px;
    color: yellow;
  }
}

/* NEED TO CONVERT .CARD FOR ALL CARD SIZE */

.card-inner-studio-silence {
  width: 650px;
  height: 450px;
  background-color: #eeebe6;
  -webkit-transform-style: preserve-3d;
  -moz-transform-stle: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.square-studio-silence {
  background-image: url("imgsProfileCards/stuidosilence/otis-redding.png");
  width: 300px;
  height: 300px;
  background-color: rgba(202, 13, 0, 0.5);
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-stle: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotate(45deg) translateZ(100px);
  -moz-transform: rotate(45deg) translateZ(100px);
  -ms-transform: rotate(45deg) translateZ(100px);
  -o-transform: rotate(45deg) translateZ(100px);
  transform: rotate(45deg) translateZ(100px);
  animation: sq 20000ms ease infinite;
  border-radius: 0%;
  clip-path: polygon(100% -100%, -100% 100%, 100% 100%);
}

@keyframes sq {
  0% {
    border-radius: 0%;
    background-color: rgba(202, 13, 0, 0.5);
    width: 300px;
    height: 300px;
    -webkit-transform: rotate(45deg) translateZ(100px);
    -moz-transform: rotate(45deg) translateZ(100px);
    -ms-transform: rotate(45deg) translateZ(100px);
    -o-transform: rotate(45deg) translateZ(100px);
    transform: rotate(45deg) translateZ(100px);
    clip-path: polygon(100% -100%, -100% 100%, 100% 100%);
  }

  20% {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-color: rgba(236, 208, 47, 0.5);
    -webkit-transform: rotate(45deg) translateZ(100px);
    -moz-transform: rotate(45deg) translateZ(100px);
    -ms-transform: rotate(45deg) translateZ(100px);
    -o-transform: rotate(45deg) translateZ(100px);
    transform: rotate(45deg) translateZ(100px);
    clip-path: polygon(100% -100%, -100% 100%, 100% 100%);
  }

  40% {
    border-radius: 0%;
    width: 85%;
    height: 35%;
    background-color: rgba(82, 206, 24, 0.5);
    -webkit-transform: rotate(0deg) translateZ(100px);
    -moz-transform: rotate(0deg) translateZ(100px);
    -ms-transform: rotate(0deg) translateZ(100px);
    -o-transform: rotate(0deg) translateZ(100px);
    transform: rotate(0deg) translateZ(100px);
    clip-path: polygon(100% -100%, -100% 100%, 100% 100%);
  }

  60% {
    border-radius: 0%;
    width: 25%;
    height: 85%;
    background-color: rgba(44, 55, 156, 0.5);
    -webkit-transform: rotate(0deg) translateZ(100px);
    -moz-transform: rotate(0deg) translateZ(100px);
    -ms-transform: rotate(0deg) translateZ(100px);
    -o-transform: rotate(0deg) translateZ(100px);
    transform: rotate(0deg) translateZ(100px);
    clip-path: polygon(100% -100%, -100% 100%, 100% 100%);
  }

  80% {
    border-radius: 0%;
    width: 60%;
    height: 60%;
    background-color: rgba(248, 0, 248, 0.5);
    -webkit-transform: rotate(0deg) translateZ(100px);
    -moz-transform: rotate(0deg) translateZ(100px);
    -ms-transform: rotate(0deg) translateZ(100px);
    -o-transform: rotate(0deg) translateZ(100px);
    transform: rotate(0deg) translateZ(100px);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  100% {
    border-radius: 0%;
    background-color: rgba(202, 13, 0, 0.5);
    width: 300px;
    height: 300px;
    -webkit-transform: rotate(45deg) translateZ(100px);
    -moz-transform: rotate(45deg) translateZ(100px);
    -ms-transform: rotate(45deg) translateZ(100px);
    -o-transform: rotate(45deg) translateZ(100px);
    transform: rotate(45deg) translateZ(100px);
    clip-path: polygon(100% -100%, -100% 100%, 100% 100%);
  }
}

.studio-title-studio-silence {
  float: left;
  margin-left: 5%;
  width: 60%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-stle: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(25px);
  -moz-transform: translateZ(25px);
  -ms-transform: translateZ(25px);
  -o-transform: translateZ(25px);
  transform: translateZ(25px);
}

.silence-title-studio-silence {
  float: right;
  margin-right: 5%;
  width: 70.11%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-stle: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(25px);
  -moz-transform: translateZ(25px);
  -ms-transform: translateZ(25px);
  -o-transform: translateZ(25px);
  transform: translateZ(25px);
}


@media (max-width: 800px) {
  .card-inner-studio-silence {
    width: 500px;
    height: 300px;
  }

  .square-studio-silence {
    width: 200px;
    height: 200px;
  }
  @keyframes sq {
    0% {
      border-radius: 0%;
      background-color: rgba(202, 13, 0, 0.5);
      width: 200px;
      height: 200px;
      -webkit-transform: rotate(45deg) translateZ(100px);
      -moz-transform: rotate(45deg) translateZ(100px);
      -ms-transform: rotate(45deg) translateZ(100px);
      -o-transform: rotate(45deg) translateZ(100px);
      transform: rotate(45deg) translateZ(100px);
      clip-path: polygon(100% -100%, -100% 100%, 100% 100%);
    }
  
    20% {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      background-color: rgba(236, 208, 47, 0.5);
      -webkit-transform: rotate(45deg) translateZ(100px);
      -moz-transform: rotate(45deg) translateZ(100px);
      -ms-transform: rotate(45deg) translateZ(100px);
      -o-transform: rotate(45deg) translateZ(100px);
      transform: rotate(45deg) translateZ(100px);
      clip-path: polygon(100% -100%, -100% 100%, 100% 100%);
    }
  
    40% {
      border-radius: 0%;
      width: 85%;
      height: 35%;
      background-color: rgba(82, 206, 24, 0.5);
      -webkit-transform: rotate(0deg) translateZ(100px);
      -moz-transform: rotate(0deg) translateZ(100px);
      -ms-transform: rotate(0deg) translateZ(100px);
      -o-transform: rotate(0deg) translateZ(100px);
      transform: rotate(0deg) translateZ(100px);
      clip-path: polygon(100% -100%, -100% 100%, 100% 100%);
    }
  
    60% {
      border-radius: 0%;
      width: 25%;
      height: 85%;
      background-color: rgba(44, 55, 156, 0.5);
      -webkit-transform: rotate(0deg) translateZ(100px);
      -moz-transform: rotate(0deg) translateZ(100px);
      -ms-transform: rotate(0deg) translateZ(100px);
      -o-transform: rotate(0deg) translateZ(100px);
      transform: rotate(0deg) translateZ(100px);
      clip-path: polygon(100% -100%, -100% 100%, 100% 100%);
    }
  
    80% {
      border-radius: 0%;
      width: 60%;
      height: 60%;
      background-color: rgba(248, 0, 248, 0.5);
      -webkit-transform: rotate(0deg) translateZ(100px);
      -moz-transform: rotate(0deg) translateZ(100px);
      -ms-transform: rotate(0deg) translateZ(100px);
      -o-transform: rotate(0deg) translateZ(100px);
      transform: rotate(0deg) translateZ(100px);
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
  
    100% {
      border-radius: 0%;
      background-color: rgba(202, 13, 0, 0.5);
      width: 200px;
      height: 200px;
      -webkit-transform: rotate(45deg) translateZ(100px);
      -moz-transform: rotate(45deg) translateZ(100px);
      -ms-transform: rotate(45deg) translateZ(100px);
      -o-transform: rotate(45deg) translateZ(100px);
      transform: rotate(45deg) translateZ(100px);
      clip-path: polygon(100% -100%, -100% 100%, 100% 100%);
    }
  }
}

@media (min-width: 1400px) {
  .card-inner-studio-silence  {
    width: 900px;
    height: 700px;
  }
}

/* ----- MAD BATTER */

.card-inner-mad-bat {
  height: 450px;
  width: 650px;
  background-color: #f7f7f7;
  -webkit-transform-style: preserve-3d;
  -moz-transform-stle: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-family: "Shippori Mincho B1", serif;
  box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.5);
}

.hero-mad-bat {
  background-image: url("hero-1.jpeg");
  background-position: center left -50px;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  width: 95%;
  height: 70%;
  z-index: -1;
  border: 1px solid #000;
}

.cart-mad-bat {
  height: 100%;
  width: 25%;
  right: 0;
  position: absolute;
  background-color: #fff;
  border-radius: 0 20px 20px 0;
  border-left: 1px solid #000;
  z-index: 2;
  -webkit-transform-style: preserve-3d;
  -moz-transform-stle: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(5px);
  -moz-transform: translateZ(5px);
  -ms-transform: translateZ(5px);
  -o-transform: translateZ(5px);
  transform: translateZ(5px);
}

.cart-item-mad-bat {
  margin: 20px 0px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.65rem;
  -webkit-transform-style: preserve-3d;
  -moz-transform-stle: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(25px);
  -moz-transform: translateZ(25px);
  -ms-transform: translateZ(25px);
  -o-transform: translateZ(25px);
  transform: translateZ(25px);
  padding: 0px 2.5px;
}

.trash-mad-bat {
  background-image: url("delete.svg");
  background-position: center;
  background-size: cover;
  height: 12px;
  width: 12px;
  cursor: pointer;
}

.order-cont-mad-bat {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.order-cont-mad-bat p {
  width: 100%;
  margin-bottom: 0px;
  text-overflow: ellipsis;
}

.order-cont-mad-bat h6 {
  width: 100%;
  margin-top: 0px;
  color: #656566;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header-mad-bat {
  font-family: "Londrina Outline", cursive;
  color: #fff;
  position: absolute;
  right: calc(25% + 10px);
  top: 10%;
  font-size: 2.5rem;
  -webkit-transform-style: preserve-3d;
  -moz-transform-stle: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  -o-transform: translateZ(50px);
  transform: translateZ(50px);
  text-align: right;
}

.nav-mad-bat {
  color: #656566;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 79px;
  right: calc(25% + 10px);
  width: 40%;
  font-size: 10px;
  -webkit-transform: translateZ(25px);
  -moz-transform: translateZ(25px);
  -ms-transform: translateZ(25px);
  -o-transform: translateZ(25px);
  transform: translateZ(25px);
}

.nav-hr-mad-bat {
  position: absolute;
  bottom: 15.5%;
  right: calc(25% - 10px);
  width: 280px;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #000;
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  transform: translateZ(0px);
}

.logo-mad-bat {
  background-image: url("logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 138px;
  width: 150px;
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  -o-transform: translateZ(50px);
  transform: translateZ(50px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-stle: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.logo-cover-mad-bat {
  height: 160px;
  width: 100%;
  border-radius: 30%;
  position: absolute;
  top: 5px;
  border-radius: 30% 30% 0% 0%;
  background-color: #f7f7f7;
  -webkit-transform-style: preserve-3d;
  -moz-transform-stle: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(2px);
  -moz-transform: translateZ(2px);
  -ms-transform: translateZ(2px);
  -o-transform: translateZ(2px);
  transform: translateZ(2px);
}

.logo-two-mad-bat {
  height: 90px;
  width: 150px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 30% 30% 0% 0%;
  border: 1px solid black;
  border-bottom: none;
  left: 20px;
  bottom: 100px;
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
  -ms-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  transform: translateZ(1px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-stle: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.logo-mad-bat h5 {
  color: #f7f7f7;
  margin: 50px 1.5px 0px 1.5px;
  font-size: 11px;
  -webkit-transform: translateZ(10px);
  -moz-transform: translateZ(10px);
  -ms-transform: translateZ(10px);
  -o-transform: translateZ(10px);
  transform: translateZ(10px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-stle: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  text-shadow: 0px 0px 2px #ba6fb4;
}

.btn-mad-bat {
  background-color: #ba6fb4;
  color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%) translateZ(50px);
  -moz-transform: translateX(-50%) translateZ(50px);
  -ms-transform: translateX(-50%) translateZ(50px);
  -o-transform: translateX(-50%) translateZ(50px);
  transform: translateX(-50%) translateZ(50px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-stle: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@media (max-width: 800px) {
  .card-inner-mad-bat {
    width: 500px;
    height: 300px;
  }

  .hero-mad-bat {
    margin-top: 20px;
  }

  .header-mad-bat {
    font-size: 1.75rem;
  }

  .cart-item-mad-bat {
    font-size: .5rem;
    margin: 15px 0px;
  }

  .trash-mad-bat {
    width: 7.5px;
    height: 7.5px;
  }

  .nav-mad-bat {
    bottom: 53px;
    font-size: 7.5px;
    width: 35%;
    right: calc(25% + 5px);
  }

  .nav-hr-mad-bat {
    width: 190px;
  }

  .logo-mad-bat {
    height: 110px;
    width: 115px;
  }

  .logo-cover-mad-bat {
    height: 100px;
  }

  .logo-two-mad-bat {
    width: 115px;
    height: 75px;
    bottom: 70px;
  }
  .logo-mad-bat h5 {
    margin: 40px 1.5px 0px 1.5px;
    font-size: 9px;
  }
  .btn-mad-bat {
    bottom: 25px;
    padding: 10px 20px;
    font-size: 10px;
  }
}


@media (min-width: 1400px) {
  .card-inner-mad-bat  {
    width: 900px;
    height: 700px;
  }
}

/* ----- HOPPY BARBER -------- */

.card-inner-hoppy {
  height: 450px;
  width: 650px;
  background-color: #f6f9ff;
  background-image: url("mirrored-squares.png");
  -webkit-transform-style: preserve-3d;
  -moz-transform-stle: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-family: "Raleway", sans-serif;
}

.logo-hoppy {
  width: 250px;
  height: 250px;
  background-image: url("hoppyBarber/hoppyLogo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -35px;
  left: 0px;
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  -o-transform: translateZ(50px);
  transform: translateZ(50px);
}

.nav-hoppy {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 190px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-stle: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  transform: translateZ(0px);
}

.name-holder-hoppy {
  width: 100%;
  text-align: center;
  height: 50%;
  padding-top: 25px;
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  -o-transform: translateZ(50px);
  transform: translateZ(50px);
  font-family: "Abril Fatface", cursive;
  text-shadow: 0.025em 0.025em 0em #232325, 0.05em 0.05em 0em #fff,
    0.075em 0.075em 0em #232325, 0.1em 0.1em 0em #fff;
  font-size: 25px;
}

.border-no-3d-hoppy {
  position: absolute;
  background-color: transparent;
  border-bottom: 1px solid #000;
  border-top: none;
  border-right: none;
  border-left: none;
  top: 100px;
  right: 0;
  width: 60%;
  height: 1px;
}

.nav-nav-hoppy {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-stle: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(25px);
  -moz-transform: translateZ(25px);
  -ms-transform: translateZ(25px);
  -o-transform: translateZ(25px);
  transform: translateZ(25px);
}

.nav-nav-hoppy p {
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-stle: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateX(-15px) translateZ(25px);
  -moz-transform: translateX(-15px) translateZ(25px);
  -ms-transform: translateX(-15px) translateZ(25px);
  -o-transform: translateX(-15px) translateZ(25px);
  transform: translateX(-15px) translateZ(25px);
}
.p-hoppy-one::after {
  content: url("hoppyBarber/scissors.svg");
  position: absolute;
  right: -45%;
  top: -15px;
}
.p-hoppy-two::after {
  content: url("hoppyBarber/camera.svg");
  position: absolute;
  right: -80%;
  top: -7.5px;
}

.p-hoppy-three::after {
  content: url("hoppyBarber/barber-pole.svg");
  position: absolute;
  right: -80%;
  top: -7.5px;
}

.gallery-hoppy {
  position: absolute;
  width: 100%;
  height: 61.5%;
  bottom: 0;
  border-radius: 0% 0% 20px 20px;
  -webkit-transform: translateZ(20px);
  -moz-transform: translateZ(20px);
  -ms-transform: translateZ(20px);
  -o-transform: translateZ(20px);
  transform: translateZ(20px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.one-img-hoppy {
  background-image: url("hoppyBarber/4.png");
  background-position: center;
  background-size: cover;
  width: 48%;
  height: 95%;
  border-radius: 5px 5px 5px 20px;
}
.two-img-hoppy {
  background-image: url("hoppyBarber/8.png");
  background-position: center;
  background-size: cover;
  width: 48%;
  height: 95%;
  border-radius: 5px 5px 20px 5px;
}

@media (max-width: 800px) {
  .card-inner-hoppy {
    width: 500px;
    height: 300px;
  }

  .logo-hoppy {
    width: 185px;
    height: 175px;
    top: -27.5px;
    left: 10px;
  }

  .nav-hoppy {
    height: 75px;
  }

  .border-no-3d-hoppy {
    top: 70px;
  }

  .name-holder-hoppy {
    font-size: 17.5px;
    padding-top: 20px;
  }

  .nav-nav-hoppy {
    height: 125px;
    font-size: 12px;
  }
  .p-hoppy-one::after {
    top: -17px;
    right: -51%;
  }
  .p-hoppy-two::after {
    top: -11px;
    right: -95%;
  }
  .p-hoppy-three::after {
    top: -12px;
    right: -95%;
  }

}

@media (min-width: 1400px) {

}
/*------ WHEELERS -------*/

.card-inner-wheelers {
  height: 500px;
  width: 600px;
  background-color: #fff;
  -webkit-transform-style: preserve-3d;
  -moz-transform-stle: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-family: "Yusei Magic", sans-serif;
}

.hero-wheelers {
  background-image: url("imgsProfileCards/wheelers/heroWheelers.png");
  background-position: center;
  background-size: cover;
  width: 90%;
  height: 70%;
  position: absolute;
  top: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-transform-style: preserve-3d;
  -moz-transform-stle: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(15px);
  -moz-transform: translateZ(15px);
  -ms-transform: translateZ(15px);
  -o-transform: translateZ(15px);
  transform: translateZ(15px);
}

.header-wheelers-top {
  width: 97.5%;
  height: 60px;
  position: absolute;
  top: calc(70% + 40px);
  background-color: #dcdcdc;
  border: 1px solid #000;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  -moz-transform-stle: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.header-wheelers-top h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transform-style: preserve-3d;
  -moz-transform-stle: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  -o-transform: translateZ(50px);
  transform: translateZ(50px);
  font-size: 40px;
  text-shadow: -1.5px -1px 0px #ef5261;
}

.logo-wheelers {
  background-image: url("imgsProfileCards/wheelers/logo.png");
  background-size: cover;
  background-position: center;
  display: inline-block;
  height: 75px;
  width: 75px;
  margin: -7.5px 10px;
}

.header-wheelers-bottom {
  background-color: #dcdcdc;
  border: 1px solid #000;
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 60%;
  position: absolute;
  top: 59px;
  z-index: 5;
  right: -1px;
  padding-left: 25px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-stle: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.border-cover-wheelers {
  position: absolute;
  width: calc(100% + 1px);
  height: 100%;
  border-right: 1px solid #000;
  background-color: #dcdcdc;
  top: -20px;
  left: 0px;
  -webkit-transform: translateZ(0.5px);
  -moz-transform: translateZ(0.5px);
  -ms-transform: translateZ(0.5px);
  -o-transform: translateZ(0.5px);
  transform: translateZ(0.5px);
}

.header-wheelers-bottom p {
  margin-left: 5px;
  margin-right: 5px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-stle: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(25px);
  -moz-transform: translateZ(25px);
  -ms-transform: translateZ(25px);
  -o-transform: translateZ(25px);
  transform: translateZ(25px);
}

.p-wheelers-one::before {
  content: url(imgsProfileCards/wheelers/bicycle-solid.svg);
  position: absolute;
  height: 20px;
  width: 20px;
  left: -60%;
  top: 10%;
}
.p-wheelers-two::before {
  content: url(imgsProfileCards/wheelers/tools-solid.svg);
  position: absolute;
  height: 15px;
  width: 15px;
  left: -40%;
  top: 10%;
}
.p-wheelers-three::before {
  content: url(imgsProfileCards/wheelers/mobile-alt-solid.svg);
  position: absolute;
  height: 12px;
  width: 12px;
  left: -25%;
  top: 12%;
}

.coa-wheelers {
  width: 40%;
  height: 40px;
  position: absolute;
  top: calc(70% + 100px);
  left: 2.5%;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  -moz-transform-stle: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(25px);
  -moz-transform: translateZ(25px);
  -ms-transform: translateZ(25px);
  -o-transform: translateZ(25px);
  transform: translateZ(25px);
  display: flex;
  align-items: center;
  justify-content: center;
}
