* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
font-family: 'Catamaran', sans-serif;
font-family: 'Arapey', serif;
font-family: 'Forum', cursive;
*/

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  background-color: #1c1c25;
  overflow-x: hidden;
  background-image: url("imgs/egg-shell.png");
  opacity: 0;
  transition: opacity ease-in 1000ms;
}

a {
  scroll-behavior: smooth;
  text-decoration: none;
}

a:focus-visible {
  outline-color: #6D87FF;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 200vh;
  width: 100%;
  z-index: -1;
}

main {
  position: relative;
}

.sun {
  position: absolute;
  background: radial-gradient(#ecc239 5%, #e30c3d, transparent 50%);
  width: 1000px;
  height: 1000px;
  top: -550px;
  right: -500px;
  animation-name: sun;
  animation-duration: 15000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform: rotate(0deg);
  z-index: -1;
}

@keyframes sun {
  0% {
    top: -550px;
    right: -500px;
    transform: rotate(0deg);
  }
  20% {
    top: -525px;
    right: -475px;
    transform: rotate(90deg);
  }
  50% {
    top: -500px;
    right: -450px;
    transform: rotate(180deg);
  }
  75% {
    top: -525px;
    right: -475px;
    transform: rotate(270deg);
  }
  100% {
    top: -550px;
    right: -500px;
    transform: rotate(360deg);
  }
}

.intro {
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.intro-cont-hero {
  width: 100vw;
}

.name-intro {
  line-height: 11rem;
  width: 100%;
  text-align: left;
  padding-left: 50px;
  padding-top: 25px;
  color: #f8f8ff;
}

h1 {
  font-family: "Catamaran", sans-serif;
  color: #f8f8ff;
  font-size: 160px;
  text-shadow: -0.015em 0.015em 0em #cccbd8, -0.03em 0.03em 0em #9b9ba7,
    -0.045em 0.045em 0em #6d6d78, -0.06em 0.06em 0em #43424d;
}

.coa-intro {
  margin-left: 50px;
  font-size: 80px;
  padding-left: 5px;
}

.test-on {
  color: transparent;
  text-shadow: -0.015em 0.015em 0em transparent, -0.03em 0.03em 0em transparent,
    -0.045em 0.045em 0em transparent, -0.06em 0.06em 0em #f8f8ff;
  animation-name: co;
  animation-duration: 175ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.test-off {
  color: #f8f8ff;
  text-shadow: -0.015em 0.015em 0em #cccbd8, -0.03em 0.03em 0em #9b9ba7,
    -0.045em 0.045em 0em #6d6d78, -0.06em 0.06em 0em #43424d;
  animation-name: coa;
  animation-duration: 175ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes co {
  0% {
    color: #f8f8ff;
    text-shadow: -0.015em 0.015em 0em #cccbd8, -0.03em 0.03em 0em #9b9ba7,
      -0.045em 0.045em 0em #6d6d78, -0.06em 0.06em 0em #43424d;
  }
  25% {
    color: transparent;
    text-shadow: -0.015em 0.015em 0em #f8f8ff, -0.03em 0.03em 0em #cccbd8,
      -0.045em 0.045em 0em #9b9ba7, -0.06em 0.06em 0em #6d6d78;
  }
  50% {
    color: transparent;
    text-shadow: -0.015em 0.015em 0em transparent, -0.03em 0.03em 0em #f8f8ff,
      -0.045em 0.045em 0em #cccbd8, -0.06em 0.06em 0em #9b9ba7;
  }
  75% {
    color: transparent;
    text-shadow: -0.015em 0.015em 0em transparent,
      -0.03em 0.03em 0em transparent, -0.045em 0.045em 0em #f8f8ff,
      -0.06em 0.06em 0em #cccbd8;
  }
  100% {
    color: transparent;
    text-shadow: -0.015em 0.015em 0em transparent,
      -0.03em 0.03em 0em transparent, -0.045em 0.045em 0em transparent,
      -0.06em 0.06em 0em #f8f8ff;
  }
}

@keyframes coa {
  0% {
    color: transparent;
    text-shadow: -0.015em 0.015em 0em transparent,
      -0.03em 0.03em 0em transparent, -0.045em 0.045em 0em transparent,
      -0.06em 0.06em 0em #f8f8ff;
  }
  25% {
    color: transparent;
    text-shadow: -0.015em 0.015em 0em transparent,
      -0.03em 0.03em 0em transparent, -0.045em 0.045em 0em #f8f8ff,
      -0.06em 0.06em 0em #cccbd8;
  }
  50% {
    color: transparent;
    text-shadow: -0.015em 0.015em 0em transparent, -0.03em 0.03em 0em #f8f8ff,
      -0.045em 0.045em 0em #cccbd8, -0.06em 0.06em 0em #9b9ba7;
  }
  75% {
    color: transparent;
    text-shadow: -0.015em 0.015em 0em #f8f8ff, -0.03em 0.03em 0em #cccbd8,
      -0.045em 0.045em 0em #9b9ba7, -0.06em 0.06em 0em #6d6d78;
  }
  100% {
    color: #f8f8ff;
    text-shadow: -0.015em 0.015em 0em #cccbd8, -0.03em 0.03em 0em #9b9ba7,
      -0.045em 0.045em 0em #6d6d78, -0.06em 0.06em 0em #43424d;
  }
}

/* ---------- PORTFOLIO SECTION ------------ */

.portfolio-cont {
  width: 100vw;
  position: relative;
  overflow: hidden;
  transition: transform ease 750ms;
}

.stuck {
  position: absolute;
  box-shadow: 0 0 5px #1c1c25;
  background-color: #f9f871;
  transform-origin: top right;
  transform: rotate(45deg);
  cursor: pointer;
  transition: border-radius ease-out 1000ms;
}

.contact-link {
  width: fit-content;
  margin-left: calc(37.5% - 10px);
  font-family: "Arapey", serif;
  color: #1c1c25;
  font-size: 25px;
  margin-top: 0%;
  transform-origin: top left;
  transform: rotate(0deg);
}

.reverse-contact-link {
  animation-name: contactTextReset;
  animation-iteration-count: 1;
  animation-duration: 1000ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes contactTextReset {
  0% {
    margin-top: 17.5%;
    margin-left: 95%;
    transform-origin: top left;
    transform: rotate(-90deg);
  }

  35% {
    margin-left: 95%;
    margin-top: 100%;
    transform: rotate(-90deg);
  }

  65% {
    margin-left: 0%;
    margin-top: 0%;
    transform: rotate(0deg);
  }

  100% {
    margin-left: calc(37.5% - 10px);
    margin-top: 0%;
    transform: rotate(0deg);
  }
}

.active-contact-link {
  margin-left: calc(37.5% - 10px);
  margin-top: 0%;
  transform: rotate(0deg);
  animation-name: activeContactText;
  animation-iteration-count: 1;
  animation-duration: 1000ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes activeContactText {
  0% {
    margin-left: calc(37.5% - 10px);
    margin-top: 0%;
    transform: rotate(0deg);
  }

  35% {
    margin-left: 14.5%;
    margin-top: 0%;
    transform: rotate(0deg);
  }

  64% {
    margin-left: 0%;
    margin-top: 0%;
    transform: rotate(0deg);
  }

  65% {
    margin-left: 95%;
    margin-top: 100%;
    transform: rotate(-90deg);
  }

  100% {
    margin-top: 17.5%;
    margin-left: 95%;
    transform-origin: top left;
    transform: rotate(-90deg);
  }
}

.stack {
  background-color: #fcb363;
  left: calc(-50vh - 50px);
  position: absolute;
  box-shadow: 0 0 5px #1c1c25;
  left: -50vh;
  top: 50vh;
  transform-origin: top right;
  transform: rotate(45deg);
  cursor: pointer;
  transition: border-radius ease-out 1000ms;
}

.design-link {
  width: fit-content;
  margin-left: 60%;
  font-family: "Arapey", serif;
  color: #1c1c25;
  font-size: 25px;
  margin-top: 0%;
  transform-origin: top left;
  transform: rotate(0deg);
  transition: opacity ease-in 500ms;
}

.reverse-design-link {
  animation-name: designTextReset;
  animation-iteration-count: 1;
  animation-duration: 1000ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes designTextReset {
  0% {
    margin-top: 30%;
    margin-left: 95%;
    transform-origin: top left;
    transform: rotate(-90deg);
  }

  35% {
    margin-left: 95%;
    margin-top: 100%;
    transform: rotate(-90deg);
  }

  65% {
    margin-left: 0%;
    margin-top: 0%;
    transform: rotate(0deg);
  }

  100% {
    margin-left: 60%;
    margin-top: 0%;
    transform: rotate(0deg);
  }
}

.active-design-link {
  margin-left: 60%;
  margin-top: 0%;
  transform: rotate(0deg);
  animation-name: activeDesignText;
  animation-iteration-count: 1;
  animation-duration: 1000ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes activeDesignText {
  0% {
    margin-left: 60%;
    margin-top: 0%;
    transform: rotate(0deg);
  }

  35% {
    margin-left: 27.5%;
    margin-top: 0%;
    transform: rotate(0deg);
  }

  64% {
    margin-left: 0%;
    margin-top: 0%;
    transform: rotate(0deg);
  }

  65% {
    margin-left: 95%;
    margin-top: 100%;
    transform: rotate(-90deg);
  }

  100% {
    margin-top: 30%;
    margin-left: 95%;
    transform: rotate(-90deg);
  }
}

.stacked {
  background-color: #d87b6b;
  left: calc(-50vh - 100px);
  transition: transform ease-out 1000ms;
  position: absolute;
  box-shadow: 0 0 5px #1c1c25;
  left: -50vh;
  top: 50vh;
  transform-origin: top right;
  transform: rotate(45deg);
  cursor: pointer;
  transition: border-radius ease-out 1000ms;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.stacked-guts {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(6,1fr);
  height: 95%;
  width: 100%;
  border: 1px solid red;
}

.stacked::-webkit-scrollbar {
  display: none;
}

.code-link {
  width: fit-content;
  margin-left: 82.5%;
  font-family: "Arapey", serif;
  color: #1c1c25;
  font-size: 25px;
  transform-origin: top left;
  transform: rotate(0deg);
  transition: opacity ease-in 500ms;
}

.reverse-code-link {
  animation-name: codeTextReset;
  animation-iteration-count: 1;
  animation-duration: 1000ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes codeTextReset {
  0% {
    margin-top: 40%;
    margin-left: 95%;
    transform: rotate(-90deg);
  }

  35% {
    margin-left: 95%;
    margin-top: 100%;
    transform: rotate(-90deg);
  }

  65% {
    margin-left: 0%;
    margin-top: 0%;
    transform: rotate(0deg);
  }

  100% {
    margin-left: 82.5%;
    margin-top: 0%;
    transform: rotate(0deg);
  }
}

.active-code-link {
  margin-left: 82.5%;
  margin-top: 0%;
  transform: rotate(0deg);
  animation-name: activeCodeText;
  animation-iteration-count: 1;
  animation-duration: 1000ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes activeCodeText {
  0% {
    margin-left: 82.5%;
    margin-top: 0%;
    transform: rotate(0deg);
  }

  35% {
    margin-left: 50%;
    margin-top: 0%;
    transform: rotate(0deg);
  }

  50% {
    margin-left: 50%;
    margin-top: 0%;
    transform: rotate(0deg);
  }

  65% {
    margin-left: 95%;
    margin-top: 100%;
    transform: rotate(-90deg);
  }

  100% {
    margin-top: 40%;
    margin-left: 95%;
    transform: rotate(-90deg);
  }
}

.border-on {
  border-radius: 20px;
}

.border-tran {
  transition: border-radius ease 1000ms;
}

.stack:hover,
.stacked:hover {
  outline: 1px solid #f8f8ff;
  box-shadow: 1px -1px 5px #f8f8ff, 1px -1px 5px #f8f8ff;
}

.stuck:hover,
.stuck-on:hover {
  outline: 2px solid #f8f8ff;
  box-shadow: 1px -1px 5px #f8f8ff;
}

.about-me-cont {
  height: 100%;
  width: 50%;
  margin-right: 50px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.move-letter {
  transition: all ease-out 500ms;
  transform-style: preserve-3d;
  display: inline-block;
  margin: 0 1px;
}

.about-me-title {
  color: #f8f8ff;
  margin-bottom: 10px;
  font-family: "Arapey", serif;
  font-size: 50px;
  text-align: right;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.about-me-title div {
  margin-left: 15px;
  white-space: nowrap;
}

.about-me {
  color: #f8f8ff;
  font-family: "Forum", cursive;
  font-size: 25px;
  text-align: right;
}

.theater {
  height: 100vh;
  width: 100vw;
  border-radius: 0px;
  left: 0;
  top: 0;
  transform-origin: top right;
  transform: rotate(0deg);
  transition: all ease-out 1000ms;
  cursor: default;
}

.curtain-closed {
  transition: all ease-out 1000ms;
  pointer-events: none;
}

.move-card-forward {
  animation-name: moveCardFwd;
  animation-iteration-count: 1;
  animation-duration: 1000ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes moveCardFwd {
  0% {
    transform: translateX(-50vw) rotate(45deg);
  }

  100% {
    transform: translateX(0vw) rotate(45deg);
  }
}

.move-card-back {
  animation-name: moveCardBack;
  animation-iteration-count: 1;
  animation-duration: 1000ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes moveCardBack {
  0% {
    transform: translateX(0vw) rotate(45deg);
  }

  100% {
    transform: translateX(-50vw) rotate(45deg);
  }
}

/* ------------- Work Together Mode --------------- */

.contact-cont {
  width: 100vw;
  position: absolute;
  display: block;
  bottom: 0;
  overflow: hidden;
  z-index: -99;
}

.derp {
  transform: translateY(100vh);
  transition: all ease-out 500ms;
}

.design-close-btn,
.code-close-btn{
  padding: 50px;
  cursor: pointer;
  height: 50px;
  top: 300px;
  position: absolute;
}

.btn  {
  padding: 50px;
  cursor: pointer;
  height: 50px;
}




/* ------------- Profile card --------------- */


.project-card {
  height: 375px;
  width: 350px;
  background-color: transparent;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 100px;
  grid-column-end: 6;
  grid-row-start: 1;
  box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.5);
}

.card-inner {
  height: 500px;
  width: 600px;
  background-color: #2f313b;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateZ(100px);
  font-family: Helvetica Neue;

}

.project-card-logo {
  background-image: url(imgsProfileCards/deadcatscg.svg);
  background-position: center;
  background-size: cover;
  width: 250px;
  height: 225px;
  transform: translateZ(100px);
  margin-left: 50px;
}

.project-card h1 {
  transform: translateZ(100px);
  font-size: 3rem;
  font-weight: 200;
}

.project-card p {
  margin-top: -25px;
  padding-left: 50px;
  color: #fff;
}

.header {
  padding-top: 10px;
  position: absolute;
  transform: translateZ(25px);
  top: 20px;
  height: 25px;
  border-bottom: 2px solid #fff;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

/* NEED TO CONVERT .CARD FOR ALL CARD SIZE */

.card {
  height: 550px;
  width: 650px;
  background-color: transparent;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-end: 6;
  grid-row-start: 0;
}

.card-inner-studio-silence {
  height: 500px;
  width: 600px;
  background-color: #eeebe6;
  transform-style: preserve-3d;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.square-studio-silence {
  background-image: url("imgs/otis-redding.png");
  width: 300px;
  height: 300px;
  background-color: rgba(202, 13, 0, 0.5);
  position: absolute;
  transform-style: preserve-3d;
  transform: rotate(45deg) translateZ(100px);
  animation: sq 20000ms ease infinite;
  border-radius: 0%;
  clip-path: polygon(100% -100%, -100% 100%, 100% 100%);
}

@keyframes sq {
  0% {
    border-radius: 0%;
    background-color: rgba(202, 13, 0, 0.5);
    width: 60%;
    height: 60%;
    transform: rotate(45deg) translateZ(100px);
    clip-path: polygon(100% -100%, -100% 100%, 100% 100%);
    }

  20% {
    border-radius: 50%;
    width: 50%;
    height: 60%;
    background-color: rgba(44, 55, 156, 0.5);
    transform: rotate(45deg) translateZ(100px);
    clip-path: polygon(100% -100%, -100% 100%, 100% 100%);
  }

  40% {
    border-radius: 0%;
    width: 85%;
    height: 25%;
    background-color: rgba(236, 208, 47, 0.5);
    transform: rotate(0deg) translateZ(100px);
    clip-path: polygon(100% -100%, -100% 100%, 100% 100%);
  }

  60% {
    border-radius: 0%;
    width: 60%;
    height: 60%;
    background-color: rgba(248, 0, 248, 0.5);
    transform: rotate(0deg) translateZ(100px);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  80% {
    border-radius: 0%;
    width: 25%;
    height: 85%;
    background-color: rgba(82, 206, 24, 0.5);
    transform: rotate(0deg) translateZ(100px);
    clip-path: polygon(100% -100%, -100% 100%, 100% 100%);
  }

  100% {
    border-radius: 0%;
    background-color: rgba(202, 13, 0, 0.5);
    width: 60%;
    height: 60%;
    transform: rotate(45deg) translateZ(100px);
    clip-path: polygon(100% -100%, -100% 100%, 100% 100%);
  }
}

.studio-title-studio-silence {
  float: left;
  margin-left: 5%;
  width: 60%;
  transform-style: preserve-3d;
  transform: translateZ(25px);
}

.silence-title-studio-silence {
  float: right;
  margin-right: 5%;
  width: 70.11%;
  transform-style: preserve-3d;
  transform: translateZ(25px);
}

/* ----- MAD BATTER */


.card-inner-mad-bat {
  height: 500px;
  width: 600px;
  background-color: #f7f7f7;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-family: "Shippori Mincho B1", serif;
  box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.5);
}

.hero-mad-bat {
  background-image: url("imgsProfileCards/hero-1.jpeg");
  background-position: center left -50px;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  width: 95%;
  height: 70%;
  z-index: -1;
  border: 1px solid #000;
}

.cart-mad-bat {
  height: 100%;
  width: 25%;
  right: 0;
  position: absolute;
  background-color: #fff;
  border-radius: 0 20px 20px 0;
  border-left: 1px solid #000;
  z-index: 2;
  transform-style: preserve-3d;
  transform: translateZ(5px);
}

.cart-item-mad-bat {
  margin: 20px 0px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.65rem;
  transform-style: preserve-3d;
  transform: translateZ(25px);
  padding: 0px 2.5px;
}

.trash-mad-bat {
  background-image: url("imgsProfileCards/delete.svg");
  background-position: center;
  background-size: cover;
  height: 12px;
  width: 12px;
  cursor: pointer;
}

.order-cont-mad-bat {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.order-cont-mad-bat p {
    width: 100%;
  margin-bottom: 0px;
  text-overflow: ellipsis;
}

.order-cont-mad-bat h6 {
    width: 100%;
  margin-top: 0px;
  color: #656566;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header-mad-bat {
  font-family: "Londrina Outline", cursive;
  color: #fff;
  position: absolute;
  right: calc(25% + 10px);
  top: 10%;
  font-size: 2.5rem;
  transform-style: preserve-3d;
  transform: translateZ(50px);
  text-align: right;
}

.nav-mad-bat {
  color: #656566;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 18%;
  right: calc(25% + 10px);
  width: 40%;
  font-size: 10px;
  transform: translateZ(25px);
}

.nav-hr-mad-bat {
  position: absolute;
  bottom: 15.5%;
  right: calc(25% - 10px);
  width: 43%;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #000;
  transform: translateZ(0px);
}

.logo-mad-bat {
  background-image: url("imgsProfileCards/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 138px;
  width: 150px;
  transform: translateZ(50px);
  transform-style: preserve-3d;
}

.logo-cover-mad-bat {
  height: 160px;
  width: 145px;
  border-radius: 30%;
  position: absolute;
  top: 5px;
  border-radius: 20% 20% 0% 0%;
  background-color: #f7f7f7;
  transform-style: preserve-3d;
  transform: translateZ(2px);
}

.logo-two-mad-bat {
  height: 90px;
  width: 150px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 30% 30% 0% 0%;
  border: 1px solid black;
  border-bottom: none;
  left: 20px;
  bottom: 115px;
  transform: translateZ(1px);
  transform-style: preserve-3d;
}

.logo-mad-bat h5 {
  color: #f7f7f7;
  margin: 50px 1.5px 0px 1.5px;
  font-size: 11px;
  transform: translateZ(10px);
  transform-style: preserve-3d;
  text-shadow: 0px 0px 2px #ba6fb4;
}

.btn-mad-bat {
    background-color: #ba6fb4;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%) translateZ(50px);
    transform-style: preserve-3d;
}
